{{!-- pull post by id
display post
have a texarea for comment text
how do we get user_id --}}

<div>
    {{post.post_title}}
    {{post.post_text}}
</div>

<div>
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
</div>


<script>
    
</script>