<div class="row align-center m-5">
 {{#each userPosts as |post|}}

<div class="flex-column col-12 justfiy-space-between align-center">
  <div class="card col-10">
    <div class="card card-header">
      
    <h4><a href="#">{{post_title}}</a></h4>
    </div>
    <div class="card card-body">
    <p>{{post_text}}</p>
    </div>
    <div>
      {{user.user_name}}
      {{format_date post.createdAt}}
    </div>
  </div>
</div>
{{/each}}
</div>
