<div class="card flex-column col-10 align-center justify-space-around">
<h2>Sign-Up</h2>
<form class="form signup-form">
    <div class="form-group">
    <label for="userName">userName:</label>
    <input class="form-input" type="text" id="userName" />
  </div>
  <div class="form-group">
    <label for="email">email:</label>
    <input class="form-input" type="text" id="email" />
  </div>
  <div class="form-group">
    <label for="password">password:</label>
    <input class="form-input" type="text" id="password" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign-Up</button>
  </div>
</form>
</div>


{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/signup.js"></script>
